
/* =========MOBILE PHONE AREA ========= */

@media only screen and ( max-width: 785px){
  
  .tree-2{
    bottom:10px;
    left:220px;
    z-index:0;
  }
  .phone-body-fix{
    width:480px;
  }
  .phone-vanish{
    display:none;
  }
  .tree-phone-margin{
    margin-top:220px;
  }
  .phone-about-fix{
    /* margin-top:315px; */
      margin-top:75px;
  }
  .about-text{
    padding: 10px 7px 10px 30px !important;
  }
  .phone-width{
    width:495px;
  }
  .phone-scanner-height{
    height:45vh !important;
  }
  .phone-scanner-cont-height{
    height:53vh !important;
  }
  .phone-nav-tweak{
    background:white; 
    padding:20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .phone-footer{
    height:260px; 
    background:#1a0239; 
 
  }
  .phone-auth-title{
    font-size:20px;
  }
  .login-body-tweaks{
    padding:15px !important;
  }
  .phone-auth-logo{
    height:70px;
  }
  .phone-auth-form{
    padding:0px 32px;
  }
  .form-group{
    margin-bottom:0px !important;
  }
  .auth-pages-top-fix{
    margin-top:45px;
  }
  .phone-margin{
    margin-top:15px
  }
  .scale-to-phone{
    transform:scale(.9)
  }
  .key{
    margin: 35px;
      border: solid 1px #8d2fe3;
      margin-left: 24%;
      margin-right: 24%;
      padding: 10px;
      border-radius: 10px;
  }
  .video{
    left:8%;position:absolute; margin-top:40px; height:34vh;display:block;
  }
  .guiding-box{
    background: transparent;
    border: solid 2px #fbc1ff;
    width: 240px;
    height: 200px;
    position: absolute;
    z-index: 10;
    margin: 56px 105px;
  }
  .video-curtain{
    position: absolute;
    width: 95%;
    height: 45vh;
    background: #a8a0e5;
    z-index: 11;
    border-radius: 4px;
  }
  #start-capture{
    position: absolute;
    left: 29%;
    top: calc(50%);
    z-index: 15;
    padding: 16px;
    background: white;
    border: white;
    color: #282828;
  }
  .scan-h1{
    font-size:32px;
  }
  .modal-text{
    font-size:20px;
  }
  .s-modal{
    padding:46px;
    position:fixed; 
   width:91% !important;
   min-height:48% !important;
    left:4%; 
    top:20%;
    z-index:501;
  
  }
  .tree-info{
    border:solid 2px #f0eeee; 
    padding:10px 20px; 
    border-radius:10px;
    margin:4px 22px;
  }
}
/* ========IPHONE 10 && its' likes ============= */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
/* @media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {  */

  .video{
    left: 8%;
    position: absolute;
    margin-top: 40px;
    height: 29vh;
    display: block;
  }
  .phone-scanner-height{
    height:39vh !important;
  }

}


/* ================ THE LIKES OF IPHONE 8 =============*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
      .video{

        left: 8%;
        position: absolute;
        margin-top: 40px;
        height: 32vh;
        display: block;
      }
    

    }
/* ================================ Exclusive pc mode ================= */
@media only screen and ( min-width: 785px){
  .tree-2{
    bottom:90px;
    left:160px;
    z-index:0;
  }
  .tree-info{
    border:solid 2px #f0eeee; 
    padding:10px 20px; 
    border-radius:10px;
    margin:4px 250px;
  }
  .pc-vanish{
    display:none;
  }
  .key{
    margin: 35px;
      border: solid 1px #8d2fe3;
      margin-left: 40%;
      margin-right: 40%;
      padding: 10px;
      border-radius: 10px;
  }
  .video{
    left:13%;position:absolute; margin-top:10px; height:38vh;display:block;
  }
  .guiding-box{
    background:transparent; 
    border:solid 2px #fbc1ff ; 
    width:340px; 
    height:270px;
    position:absolute;
    z-index:10;
    margin:34px 205px;
  }
  .video-curtain{
    position:absolute; 
    width:97%; 
    height:40vh; 
    background:#a8a0e5; 
    z-index:11;
    border-radius:4px;
  }
  #start-capture{
    position: absolute;
    left:34%; 
    top:calc(50%);
    z-index:15;
    padding:16px;
    background:white; 
    border:white;
    color:#282828;
  }
  .scan-h1{
    font-size:2.23rem;
  }
  .modal-text{
    font-size:1.575;
  }
  .s-modal{
    padding:96px;
    position:fixed; 
   width:70% !important;
   min-height:58% !important;
    left:15%; 
    top:20%;
    z-index:501;
  
  }
  /* .phone-vanish{display:block} */
}


.side-counter{
  background:white; 
  padding:25px 45px;
  z-index:15; 
  position:fixed; 
  right:0; 
  top:50%;
  border-top-left-radius: 55px; 
  border-bottom-left-radius: 55px;
}
.scale-to-phone{}
.phone-margin{}
.auth-pages-top-fix{}
.phone-auth-form{}
.phone-auth-logo{}
.phone-auth-title{}
.phone-footer{}
.phone-scanner-height{}
.phone-width{}
.phone-body-fix{}
.tree-phone-margin{}
.phone-about-fix{}

/* --------------------------- */

.s-modal-overlay{
  position:fixed; 
  width:100%; 
  height:100%; 
  background:black ;
  opacity:.7; 
  z-index:500;
}

.modal-close-btn{
  position:fixed;
  top:calc(18%); 
  left:calc(50%);
  background:red; 
  color:white;
}

.m-gray{
    color: #585858 !important;
  }

.popout{ cursor:pointer;}
.popout:hover{
  transform: scale(1.08);
  transition: .5s ease-in-out;
}
.vanish{
  opacity:0;
}
.footer-a{
  color:lightgray;
  font-size:19px;
}



.plant-btn{
  padding:20px 90px;
  font-weight: 700;
  font-size: 16px;
  background:white;
  color:black;
}
.plant-btn:hover{
  background:red; 
  color:white; 
  transition: .6s ease-in-out;
  
}
.hero-title{
  color:white;
  font-size:3.5rem;
  text-shadow: 3px 0px black;
}
.social-area{
  margin-top:120px; 
  margin-left:-130px;
}
.m-social{
  font-size:13px;
}
.round-me{
  border-radius:55px;
}
.auth-btn2{
  border-width:0px;
  padding:9px 34px; 
  background:green;
}
.auth-btn{
  border-width:0px;
  padding:9px 34px; 
  background:#420b42;
}
.login-body-tweaks{
  padding:50px 20px;
  border-radius:6px
}
.stick-to-top{
  position:fixed; 
  width:100%;
  z-index:50;
}
.subscribe-button{
  background:#362336; 
  color:white;

}

.nav-border{
  border:solid; 
  border-width: 0px; 
  border-bottom-width: 4px;
  border-bottom-color: #f05555;
}
.zero-radius{
  border-radius:0px;
}
.footer{
  border:solid; 
  border-top-width: 11px;
  border-top-color:#c37413;
  background:#1f1e20;
  height:300px; 
  width:100%;
  padding:30px;
}
.btn-finish{
  width:220px
}
.dummy-code{
  margin-top:30px;
  height:180px; 
  width:200px; 
}

.my-card{
  background:white; 
  border-radius:6px;
  height:40vh;
  width:100%; 

}
.scanner-container{
  background:#9289db; 
  height:50vh; 
  width:100%;
}
.banner-text{
  color:white;
  text-align: center;
}

.other-sponsors{
  height:84; 
  width:210px;
}
.sov{
  width:100px;
  height:84px;
}

.banner{
  background:#3A166A; 
  padding:40px;
  width:100%;
}
.about-text{
  font-size:21px;
  color:#a09e9e;
  padding:20px 180px 100px 180px;
  text-align: justify;


}
.about-text:hover{
  color:black ;
  transition:.8s ease-in-out;
}
.dentons-logo{
  height:140px; 
  width:230px;
}

.sponsorship{
  opacity:.4;
  padding:30px; 
  width:100%; 
  background:#ebe8e8;
}

.unseen{
  display:none;
}
.invisible{
  opacity: 0;
}
.m-header{
  width:100%; 
  height:57vh; 
  background:#ffd390; 
  margin-top:8px;
  animation:colorSwitch 9s infinite;
  -webkit-animation: colorSwitch  7s infinite;
}

.brand-div{
  background:#3A166A;
  height:57vh; 
  width:100%;
}

.tree{
  opacity:0;
  height:250px;
  /* height:250px;  */
  /* width:300px; */
  position:absolute;
}
.tree-1{
  top:10px;
}

.tree-3{
  top:120px;
  right:40px;
}
.tree-4{
  left:-90px;
  bottom:0px;
}
.tree-5{
  left:80px;
  bottom:-70px;
  z-index:11;
}
.tree-6{
  right:170px;
  top:10px;
  
}
.tree-7{
  right:10px;
  bottom:80px;
  z-index:9;
}
.tree-8{
  right:170px;
  bottom:30px;
  
}
.tree-9{
  right:60px;
  top:10px;
  
}
.tree-group{
  
}


.z-depth-1-half{
  box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.z-depth-1{
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.z-depth-2{
  -webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}
.z-depth-3{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)}
.z-depth-4{
  -webkit-box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
  box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)}
.z-depth-5{
  -webkit-box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
  box-shadow:0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22)}
  
.my-depth-1 { 
  box-shadow: 0px 1px 2px gray;
}
.my-depth-half { 
  box-shadow: 0px 1px 1px gray;
}
.my-depth-half-b { 
  box-shadow: 0px 1px 1px black;
}
.my-depth-2 { 
  box-shadow: 0px 3px 3px gray;
}
.my-depth-4 { 
  box-shadow: 0px 4px 4px gray;
}

@-webkit-keyframes colorSwitch{
  0%{
    background:#ffd390
  }
  20%{
    background:#a3f27a;
  }
  50%{
    background:#282828;
  }
  70%{
    background:#c5f7ff;
  }
  100%{
    background:white;
  }
}
@keyframes colorSwitch{
  0%{
    background:#ffd390
  }
  20%{
    background:#a3f27a;
  }
  50%{
    background:#282828;
  }
  70%{
    background:#c5f7ff;
  }
  100%{
    background:white;
  }
}